nestedView('{{LABEL}}-jobs') {
    views {
      listView('{{LABEL}}') {
           jobs {
                names('{{LABEL}}-Setup-Tomcat-Job', '{{LABEL}}-Setup-Nginx-Job', '{{LABEL}}-Setup-Mysql-Job', '{{LABEL}}-Setup-Zabbix-Job')
            }
            columns {
                status()
                weather()
                name()
                lastSuccess()
                lastFailure()
            }
        }
    }
}
